/* 公共样式 */
@import url(../common/color.css);
@import url(../common/header.css);
@import url(../common/footer.css);
@import url(../basic/custom.css);

/* 字体 */
@import url(../../font/iconfont.css);



/* 私有样式 */
@import url(../pages/index.css);
@import url(../pages/about.css);
@import url(../pages/produce.css);
@import url(../pages/scheme.css);



/* 公共类 */

/* 中间 */
.center {
    width: 1200px;
    margin: 0 auto;
    overflow: visible !important;
}

.main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 315px!important;
    margin-top: 30px;
}

.visible {
    overflow: visible;
}

body {
    border-bottom: transparent solid 1px;
    overflow-x: hidden;
}








/* 头部以及图片公共样式  */
.main-img {
    width: 100%;
    margin-bottom: 20px;
    margin: 30px 0 50px 0;
    height: 400px;
}
.main-img>img {
    width: 100%;
    height: 100%;
}

/* 产品详情内容分隔 */
.segment {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #F6F6F6;
    padding: 10px 10px;
    margin: 30px 0;
}
