
.scm-list {
    width: 100%;
}
.scm-list>li {
    padding: 50px 0 100px;
}
.scm-title1 {
    font-weight: 600;
    height: 150px;
    font-size: 21px;
    text-align: center;
}
.scm-title2 {
    font-weight: 600;
    height: 80px;
    line-height: 80px;
    font-size: 19px;
}
.scm-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* a模板 */
.scm-list >.scm-a {
    background-color: white;
    width: 100%;
}

.scm-a-tl {
    height: 400px;
    width: 700px;
    position: relative;
    margin-bottom: 100px;
}
.scm-a-tl>div {
    padding-left: 200px;
    white-space: normal;
    word-break: break-word;
    padding-right: 20px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 160%;
}
.scm-a-tr {
    height: 400px;
    width: 500px;
    margin-bottom: 100px;
}
.scm-a-tr>img {
    width: 100%;
    height: 100%;
}
.scm-a-bl {
    height: 600px;
    width: 400px;
}
.scm-a-bl>img {
    width: 100%;
    height: 100%;
}
.scm-a-br {
    height: 600px;
    width: 800px;
    text-align: right;
    position: relative;
}
.scm-a-br>div {
    text-align: left;
    padding-right: 200px;
    white-space: normal;
    word-break: break-word;
    padding-left: 20px;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 160%;
}
.scm-a-br>img {
    height: 300px;
    width: 400px;
}

/* b模板 */
.scm-list >.scm-b {
    background-color: #FBFBFB;
    width: 100%;
}
.scm-b-tl {
    height: 600px;
    width: 400px;
    position: relative;
    margin-bottom: 100px;
}
.scm-b-tl>div {
    white-space: normal;
    word-break: break-word;
    padding-right: 20px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 160%;
}
.scm-b-tr {
    height: 600px;
    width: 800px;
    margin-bottom: 100px;
}
.scm-b-tr>img {
    width: 100%;
    height: 100%;
}
.scm-b-bl {
    height: 700px;
    width: 700px;
}
.scm-b-bl>img {
    width: 100%;
    height: 500px;
}
.scm-b-br {
    height: 700px;
    width: 500px;
    text-align: right;
    position: relative;
}
.scm-b-br>div {
    text-align: right;
    padding-left: 100px;
    white-space: normal;
    word-break: break-word;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 160%;
}
.scm-b-br>span {
    background-color: white;
    padding: 10px;
    height: 300px;
    width: 400px;
    position: absolute;
    display: block;
    left: -200px;
    top: 400px;
    box-shadow: 0px 0px 5px rgb(221, 221, 221,.5);
}
.scm-b-br>span>img {
    width: 100%;
    height: 100%;
}