.header {
  width: 100%;
  height: 80px;
  overflow: visible;
  line-height: 80px;
  color: #212121;
}
.header .hd-logo {
  float: left;
  width: 225px;
  height: 100%;
}
.header .hd-logo > img {
  width: 100%;
  max-height: 80px;
  vertical-align: middle;
}
.header .hd-nav {
  float: right;
  width: 900px;
  height: 100%;
}
.header .hd-navp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
}
.header .hd-navp > li {
  float: left;
  flex: 1;
  text-align: center;
  height: 100%;
  position: relative;
}
/* 显示子菜单 */
/* .header .hd-navp > li:hover > ul {
  height: 200px;
} */
.header .hd-navp ul {
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  width: 100%;
  height: 0px;
  background: #b3e5fc;
  transition: all 200ms linear 0s;
  overflow: hidden;
  font-size: 16px;
}
.header .hd-navp > li > h3 {
  height: 100%;
}
.header .hd-navp > li li:hover>h3 {
    background-color: #03a9f4;
}
.header .hd-navp > li > h3 > a {
  height: 100%;
  position: relative;
  padding: 0 10px;
  display: inline-block;
}
.header .hd-navp > li > h3 > a::before {
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background-color: #03a9f4;
  content: "";
  transition: all 200ms linear 0s;
  border-radius: 2px;
}
.header .hd-navp > li > h3 > a:hover::before {
  width: 100%;
}
.header .hd-navp > li > h3 > a:hover {
  color: #03a9f4;
}

/* 返回顶部 */
.anchor-top {
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 15px;
  position: fixed;
  cursor: pointer;
  z-index: 999999;
  display: none;
}
.anchor-top>img {
    width: 100%;
    height: 100%;
}